<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot script injected</title>
    <style>
        body {
            font: normal normal normal medium/normal serif;
            text-align: center;
            font-size: 18px;
            padding: 50px;
        }
        h1 {
            color: rgb(47, 113, 255);
            font-size: 60px;
        }
        p {
            font-size: 25px;
        }
    </style>
</head>
<body>
    <h1>Chatbot script injected successfully!</h1>
    <p>Check the website "<strong>{{ site_name }}"</strong></p>
</body>
</html>